absl-py
ai-edge-litert
array-record
astunparse
attrs
bleach
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
Cython
dm-tree
etils
filelock
flatbuffers
fonttools
fsspec
gast
gin-config
git-filter-repo
glcontext
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna
immutabledict
importlib_metadata
importlib_resources
jax
jaxlib
Jinja2
joblib
kaggle
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
mediapipe-model-maker
ml_dtypes
moderngl
moderngl-window
mpmath
multipledispatch
namex
networkx
numpy
oauth2client
oauthlib
opencv-contrib-python
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
portalocker
promise
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pycocotools
pycparser
pyglet
pyglm
Pygments
pyparsing
pyrr
python-dateutil
python-slugify
pytz
PyWavefront
PyYAML
regex
requests
requests-oauthlib
rich
rsa
sacrebleu
scikit-learn
scipy
sentencepiece
seqeval
six
sounddevice
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-macos
tensorflow-metadata
tensorflow-model-optimization
tensorflow-text
termcolor
text-unidecode
tf-models-official
tf-slim
tf_keras
threadpoolctl
toml
torch
tqdm
typeguard
typing_extensions
tzdata
uritemplate
urllib3
webencodings
Werkzeug
wrapt
zipp
